In [1]:
#Write a code to create a string with your name and print it

string1="Mohamed Wasim"
print(string1)

Mohamed Wasim

In [2]:
# Write a code to find the length of the string "Hello World"

string2="Hello World"
len(string2)

11

In [3]:
#Write a code to slice the first 3 characters from the string "Python Programming"

string3="Python Programming"
string3[0:2]

'Py'

In [4]:
# Write a code to convert the string "hello" to uppercase
string3.upper()

'PYTHON PROGRAMMING'

In [5]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple"

string4 = "I like apple"
string4.replace("apple","orange")

'I like orange'

In [6]:
# Write a code to create a list with numbers 1 to 5 and print it
list1 = [1,2,3,4,5]
print(list1)

[1, 2, 3, 4, 5]

In [9]:
#Write a code to append the number 10 to the list [1, 2, 3, 4]

list2 = [1, 2, 3, 4]
list2

[1, 2, 3, 4]

In [10]:
list2.append(10)

In [11]:
list2

[1, 2, 3, 4, 10]

In [12]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

list1

[1, 2, 3, 4, 5]

In [13]:
list1.remove(3)

In [14]:
list1

[1, 2, 4, 5]

In [18]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd']

list3 = ['a','b','c','d']
list3

['a', 'b', 'c', 'd']

In [19]:
list3[2]

'c'

In [20]:
#Write a code to reverse the list [10, 20, 30, 40, 50]

list4 = [10, 20, 30, 40, 50]
list4

[10, 20, 30, 40, 50]

In [21]:
list4.reverse()

In [22]:
list4

[50, 40, 30, 20, 10]

In [23]:
#Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple1 =(100,200,300)
print(tuple1)

(100, 200, 300)

In [24]:
# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple2 = ('red', 'green', 'blue', 'yellow')
tuple2[-2]

'blue'

In [26]:
#Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple3 = (10, 20, 5, 15)
min(tuple3)

5

In [29]:
#Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
pet_animal = ('dog', 'cat', 'rabbit')
print(pet_animal.index('cat'))

1

In [33]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "cherry","kiwi")
if "kiwi" in fruits:
  print("kiwi in fruits")
else:
  print("kiwi not in fruits")

kiwi in fruits

In [34]:
#Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set1 ={'a', 'b', 'c'}
print(set1)

{'c', 'a', 'b'}

In [35]:
#Write a code to clear all elements from the set {1, 2, 3, 4, 5}
set2 = {1, 2, 3, 4, 5}
set2.clear()

In [36]:
set2

set()

In [37]:
# Write a code to remove the element 4 from the set {1, 2, 3, 4}

set3 = {1, 2, 3, 4}
set3.remove(4)

In [38]:
set3

{1, 2, 3}

In [39]:
from typing_extensions import Concatenate
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
set4 = {1,2,3}
set5 = {3,4,5}
set4|set5

{1, 2, 3, 4, 5}

In [40]:
#Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set6={1, 2, 3}
set7={2, 3, 4}
set6&set7

{2, 3}

In [41]:
#Write a code to create a dictionary with the keys "name", "age", and "city", and print it

dict_1 = {"name":"Wasim", "age":39, "city":"Bharuch"}
dict_1

{'name': 'Wasim', 'age': 39, 'city': 'Bharuch'}

In [53]:
# Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

d2 = {'name': 'John', 'age': 25}

In [61]:
d2['Country']="USA"

In [67]:
print(d2)

{'name': 'John', 'age': 25, 'country': 'USA', 'USA': 'country', 'Country': 'USA'}

In [70]:
#code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
dict_info = {'name': 'Alice', 'age': 30}

In [72]:
dict_info["name"]

'Alice'

In [73]:
# code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict_4={'name': 'Bob', 'age': 22, 'city': 'New York'}

In [75]:
del dict_4['age']

In [76]:
print(dict_4)

{'name': 'Bob', 'city': 'New York'}

In [82]:
#Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
dict_5={'name': 'Alice', 'city': 'Paris'}

if 'city' in dict_5:
  print("the key 'city' exists in set.")
else:
  print("the key 'city' doesn't exist.")

the key 'city' exists in set.

In [84]:
#Write a code to create a list, a tuple, and a dictionary, and print them all.
list1

[1, 2, 4, 5]

In [86]:
tuple1

(100, 200, 300)

In [87]:
dict_1

{'name': 'Wasim', 'age': 39, 'city': 'Bharuch'}

In [88]:
print("list",list1)

list [1, 2, 4, 5]

In [91]:
print("Tuple",tuple1)

Tuple (100, 200, 300)

In [92]:
print("Dict",dict_1)

Dict {'name': 'Wasim', 'age': 39, 'city': 'Bharuch'}

In [96]:
#Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result(replaced)

[13, 17, 48, 68, 96]

In [97]:
#Write a code to create a list with strings and print the element at the third index.
list5 = ["aaa","bbbb","ccc","ddd","eee","fff"]
list5

['aaa', 'bbbb', 'ccc', 'ddd', 'eee', 'fff']

In [98]:
list5[2]

'ccc'

In [102]:
# Write a code to combine two dictionaries into one and print the result
dict_1

{'name': 'Wasim', 'age': 39, 'city': 'Bharuch'}

In [104]:
dict_4

{'name': 'Bob', 'city': 'New York'}

In [108]:
dict_1.update(dict_4)

In [109]:
print(dict_1)

{'name': 'Bob', 'age': 39, 'city': 'New York'}

In [110]:
dict_1|dict_4

{'name': 'Bob', 'age': 39, 'city': 'New York'}

In [115]:
# Write a code to convert a list of strings into a set
list3

['a', 'b', 'c', 'd']

In [117]:
set(list3)

{'a', 'b', 'c', 'd'}