<a href="https://colab.research.google.com/github/mwasimmalik1985/mwasimmalik1985/blob/main/Assignment_function_lambda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#1. Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in
#the list.
def sum_even_numbers(numbers):
    return sum(num for num in numbers if num % 2 == 0)

In [5]:
list=[10,11,12,13,14,15,16,17,18,19,20]
result = sum_even_numbers(list)
print("sum_even_numbers:",result)

sum_even_numbers: 90

In [8]:
# 2. Create a Python function that accepts a string and returns the reverse of that string.

def reverse_string(s):
  return s[::-1]

In [7]:
s2 = "wasim"
reversed_text = reverse_string(s2)
print(reversed_text)

misaw

In [9]:
#3. Implement a Python function that takes a list of integers and returns a new list containing the squares of
#each number.
def square_no(numbers):
  return[i **2 for i in numbers]

In [10]:
list2 = [2,4,7,8,9,10,11]
squared_list = square_no(list2)
print(squared_list)

[4, 16, 49, 64, 81, 100, 121]

In [11]:
#4. Write a Python function that checks if a given number is prime or not from 1 to 200
def is_prime(n):
    if n < 2 or n > 200:
        return False
    for i in range(2, n):
        if n % i == 0:
            return False
    return True

In [18]:
print(is_prime(6))
print(is_prime(51))

False
False

In [17]:
print(is_prime(5))
print(is_prime(199))

True
True

In [22]:
#5. Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of
#terms.
def fibonacci(n):
    a, b = 0, 1
    for i in range(n):
        print(a, end=" ")
        a, b = b, a + b

In [23]:
fibonacci(10)

0 1 1 2 3 5 8 13 21 34

In [24]:
# 6. Write a generator function in Python that yields the powers of 2 up to a given exponent.
def power_of_two(n):
    for i in range(n):
        yield 2 ** i

In [25]:
power_of_two(5)

In [26]:
print(power_of_two(5))

<generator object power_of_two at 0x7cfa93c513c0>

In [27]:
for p in power_of_two(5):
  print(p,end=" ")

1 2 4 8 16

In [1]:
# 7. Implement a generator function that reads a file line by line and yields each line as a string.
def read_file(filename):
    with open(filename, 'r') as file:
        for line in file:
            yield line.strip()

In [3]:
filename = 'wasim.txt'
for line in read_file(filename):
    print(line.strip())

In [5]:
#8. Use a lambda function in Python to sort a list of tuples based on the second element of each tuple
tuple4 = [('wasim',9),('malek',8),('DA',7)]
sorted_list = sorted(tuple4, key=lambda x: x[1])
print(sorted_list)

[('DA', 7), ('malek', 8), ('wasim', 9)]

In [6]:
# 9. Write a Python program that uses `map()` to convert a list of temperatures from Celsius to Fahrenheit
celsius_temp = [0, 40, 50, 90]
fahrenheit_temp = list(map(lambda x: (x * 9/5) + 32, celsius_temp))
print(fahrenheit_temp)

[32.0, 104.0, 122.0, 194.0]

In [8]:
#10. Create a Python program that uses `filter()` to remove all the vowels from a given string
def remove_vowels(string):
    vowels = 'aeiouAEIOU'
    return ''.join(filter(lambda x: x not in vowels, string))

In [9]:
remove_vowels("wasim malek")

'wsm mlk'

In [21]:
# 11) Imagine an accounting routine used in a book shop. It works on a list with sublists, which look like this:
#Order number             Book Title and Author                        Quantity       Price per item
#34587                   Learning pyton, Mark Lutz                       4                 40.95
#98762                   Programming Python, Mark Lutz                   5                 56.80
#77226                   Head First Pyhton, Paul Barry                   3                 32.95
#88112                   Einfuhrung in Python3, Bernd Klein              3                 24.99
 #Write a Python program, which returns a list with 2-tuples. Each tuple consists of the order number and the
#product of the price per item and the quantity. The product should be increased by 10,- € if the value of the
#order is smaller than 100,00 €.
 #Write a Python program using lambda and map

 # List of orders, each represented as a tuple:
# (Order Number, Book Title and Author, Quantity, Price per Item)
orders = [
    (34587, "Learning Python, Mark Lutz", 4, 40.95),
    (98762, "Programming Python, Mark Lutz", 5, 56.80),
    (77226, "Head First Python, Paul Barry", 3, 32.95),
    (88112, "Einführung in Python3, Bernd Klein", 3, 24.99)
]

calculate_total = lambda order: (
    order[0],
    order[2] * order[3] + (10 if order[2] * order[3] < 100 else 0)
)

order_totals = list(map(calculate_total, orders))
for order_num, total in order_totals:
    print(f"Order Number: {order_num}, Total Price: €{total:.2f}")

Order Number: 34587, Total Price: €163.80
Order Number: 98762, Total Price: €284.00
Order Number: 77226, Total Price: €108.85
Order Number: 88112, Total Price: €84.97