<a href="https://colab.research.google.com/github/mwasimmalik1985/mwasimmalik1985/blob/main/datat_basiscs_part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Write a Python program to print "Hello, World!""
print("Hello, World!")

Hello, World!

In [ ]:
#Write a Python program that displays your name and age.
name = "Mohamed Wasim"
age = 39

print("Name:", name)
print("Age:", age)

Name: Mohamed Wasim
Age: 39

In [ ]:
#Write code to print all the pre-defined keywords in Python using the keyword librar

In [ ]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [ ]:
#Write a program that checks if a given word is a Python keyword.
import keyword

s = 'for'

if keyword.iskeyword(s):
  print(f"'{s}'is a python keyword.")
else:
        print(f"'{s}is not a python keyword.")

'for'is a python keyword.

In [ ]:
#Create a list and tuple in Python, and demonstrate how attempting to change an element works differently
#for each
list = ["apple", 'banana',1, 2.2,(3+5j)]
tuple = ("wasim",39,"Data analytics")

In [ ]:
list[0]="mango"

In [ ]:
list

['mango', 'banana', 1, 2.2, (3+5j)]

In [ ]:
#in list apple has been on 0 index , changed to mango

In [ ]:
tuple[0]="malek"

TypeError: 'tuple' object does not support item assignment

In [ ]:
#tuple can't be altered. Error shows tuple does not support item assignment.

In [ ]:
#Write a function to demonstrate the behavior of mutable and immutable arguments
# Write a function to demonstrate the behavior of mutable and immutable argument

def demo_mutable_immutable(mutable_arg, immutable_arg):
    mutable_arg.append(4)
    print("Mutable argument after modification:", mutable_arg)
    try:
        immutable_arg[0] = 10
    except TypeError as e:
        print("Error modifying immutable argument:", e)

    print("Immutable argument after modification attempt:", immutable_arg)


mutable_list = [1, 2, 3]
immutable_tuple = (5, 6, 7)

demo_mutable_immutable(mutable_list, immutable_tuple)

Mutable argument after modification: [1, 2, 3, 4]
Error modifying immutable argument: 'tuple' object does not support item assignment
Immutable argument after modification attempt: (5, 6, 7)

In [ ]:
#Write a program to demonstrate the use of logical operators

#Write a program to demonstrate the use of logical operators
#OR condition
x=10
y=11
if 5<x<10 and 10<=y<=15:
  print("x and y are within range")
elif 5<x<10 or 10<y<15:
  print ("x is within range and y is not")
else:
  print("x and y are not in range")

x is within range and y is not

In [ ]:
#AND condition
x=7
y=11
if 5<x<10 and 10<=y<=15:
  print("x and y are within range")
elif 5<x<10 or 10<y<15:
  print ("x is within range and y is not")
else:
  print("x and y are not in range")

x and y are within range

In [ ]:
# NOT condition
x=11
y=16
if 5<x<10 and 10<=y<=15:
  print("x and y are within range")
elif 5<x<10 or 10<y<15:
  print ("x is within range and y is not")
else:
  print("x and y are not in range")

x and y are not in range

In [ ]:
#Write a Python program to convert user input from string to integer, float, and boolean types
a="10"
int(a)

10

In [ ]:
float(a)

10.0

In [ ]:
bool(a)

True

In [ ]:
#Write code to demonstrate type casting with list elements
type(a)

str

In [ ]:
a=10
print(type(a))

<class 'int'>

In [ ]:
b=12.07
print(type(b))

<class 'float'>

In [ ]:
c=a+b
print(type(c))

<class 'float'>

In [ ]:
d=a*b
print(type(d))

<class 'float'>

In [ ]:
#Write a program that checks if a number is positive, negative, or zero
num = float(input("Enter a number: "))
if num > 0:
   print("Positive number")
elif num == 0:
   print("Zero")
else:
   print("Negative number")

Enter a number: 10
Positive number

In [ ]:
num = float(input("Enter a number: "))
if num > 0:
   print("Positive number")
elif num == 0:
   print("Zero")
else:
   print("Negative number")

Enter a number: 0
Zero

In [ ]:
num = float(input("Enter a number: "))
if num > 0:
   print("Positive number")
elif num == 0:
   print("Zero")
else:
   print("Negative number")

Enter a number: -1
Negative number

In [ ]:
#Write a for loop to print numbers from 1 to 10

for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#Write a Python program to find the sum of all even numbers between 1 and 50.
sum_even = 0
for number in range(0,50):
    sum_even += number
print(f"The sum of even numbers between 1 and 50 is: {sum_even}")

The sum of even numbers between 1 and 50 is: 1225

In [ ]:
# Write a program to reverse a string using a while loop.

def reverse_string(s):
  reversed_str =""
  index = len(s)-1

  while index >= 0:
    reversed_str += s[index]
    index -= 1
  return reversed_str
input_str= ("wasimmalek")
print(reverse_string(input_str))

kelammisaw

In [ ]:
#Write a Python program to calculate the factorial of a number provided by the user using a while loop

number = int(input("Enter a non-negative integer: "))
factorial = 1
i = 1

if number < 0:
    print("Factorial is not defined for negative numbers.")
elif number == 0:
    print("The factorial of 0 is 1")
else:
    while i <= number:
        factorial *= i
        i += 1
    print("The factorial of", number, "is", factorial)

Enter a non-negative integer: -1
Factorial is not defined for negative numbers.

# New Section

In [ ]:
number = int(input("Enter a non-negative integer: "))
factorial = 1
i = 1

if number < 0:
    print("Factorial is not defined for negative numbers.")
elif number == 0:
    print("The factorial of 0 is 1")
else:
    while i <= number:
        factorial *= i
        i += 1
    print("The factorial of", number, "is", factorial)

Enter a non-negative integer: 0
The factorial of 0 is 1

In [ ]:
number = int(input("Enter a non-negative integer: "))
factorial = 1
i = 1

if number < 0:
    print("Factorial is not defined for negative numbers.")
elif number == 0:
    print("The factorial of 0 is 1")
else:
    while i <= number:
        factorial *= i
        i += 1
    print("The factorial of", number, "is", factorial)

Enter a non-negative integer: 6
The factorial of 6 is 720